.dialog{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-bottom: 10px;

}
.dialog img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}
.item{
  display: flex;
  align-items: center;
}
.dialog a{

  text-decoration: none;
  color: white;
}
.dialog a.active{
  color: gold;
}