.container{
  display: flex;
  padding: 10px 10px 10px 140px;
  min-height: 100px;
  align-items: flex-end;
  flex-direction: column;
  color: yellow;
}
.bioPlace{
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 3px;
}

