.container{
  display: flex;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(33, 51, 28);
  flex-direction: column;
  width: 50px;
  overflow-y: hidden;
  max-height: 200px;
  
}
.container:hover{
  overflow: auto;
}
.container img {
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50%;
}
