.container{
  display: flex;
  margin-top: 30px;
  border-radius: 5px;
  justify-content: center;
  background-color: rgb(33, 51, 28);
  align-items: center;
  width: 120px;
  height: 40px;
}
.container img {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  border-radius: 50%;
}
