.container{
  display: flex;
  align-items: center;
  position: relative;
  width: 90%;
  justify-content: space-between;
  min-height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px gray;
  margin-bottom: 10px;
  background-color: rgb(37, 63, 63);
}
.container span{
  color: yellow;
}
.node{
  word-wrap: break-word;
  width: 50%;
}
.small{
  font-size: 12px;
  margin: 0 10px;
  padding: 3px;
  background-color: darkslategray;
  border-radius: 5px;
}
.text{
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 40px;

  
}
.btn{
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 5px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25px;
  border-radius: 50%;
  background-color: crimson;
  border: none;
  
}
.btn span {
  font-size: 20px;
  font-weight: 600;
  color: darkslategray ;
}
