.message{
  color: yellow;
  margin-bottom: 10px;
  display: flex;
  word-wrap: break-word;
}
.message.opponent {
  justify-content: flex-end;
}
.message.my{
  justify-content: flex-start;
}
.message.my span{
  max-width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align:start;
  color: #000;
  padding-right: 50px;
}
.message.opponent span{
  max-width: 100%;
  text-align: end;
  word-wrap: break-word;
  color: bisque;
  padding-left: 50px;
  box-sizing: border-box;
}
.ava{
  padding: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}